
<% if @errors %>
<p> <%= @errors.to_sentence %> </p>
<% end %>



<h1>Add a New Dog to the Shelter</h1>

<%= form_for @dog do |ask| %>
Name
<%= ask.text_field :name %><br>
Breed
<%= ask.text_field :breed %><br>
Color
<%= ask.text_field :color %><br>
Size
<%= ask.text_field :size %><br>
Age
<%= ask.text_field :age %><br>
<%= ask.submit "Add Dog" %>
<% end %>
