<h1> <%= @dog.name %> </h1>

<a href="/dogs/ <=% @dog.id %>/edit"> edit story </a>




<img src="<%= @dog.dogface_url %>"  width="200">

<p> Name <%= @dog.name %> </p>
<p> Size <%= @dog.size %> </p>
<p> Breed <%= @dog.breed %> </p>
<p> Color <%= @dog.color %> </p>
<p> Age <%= @dog.age %> </p>


