<h1>Bookz</h1>

<%= link_to 'Add a book', new_book_path %> | <%= link_to 'Add an author', new_author_path %>

<h2>All Books</h2>

<table class='table'>
  <thead>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Year</th>
  </thead>
  <tbody>
    <% @books.each do |b| %>
    <tr>
      <td><%= b.title %></td>
      <td><%= b.author.name %></td>
      <td><%= b.genre %></td>
      <td><%= b.year_published %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>All Authors</h2>

<ul>
  <% @authors.each do |a| %>
    <li><%= link_to "#{a.id} | #{a.name}", author_path(a) %></li>
  <% end %>
</ul>